.hero-bg {
    width: 100%;
    height: 100vh;
    background-image: url("../../imgs/homepage/hero-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    .hero-container {
        padding-top: 258px;
        max-width: 523px;
        text-align: left;
        h1 {
            font-family: Spartan-light;
            font-size: 64px;
            line-height: 72px;
            letter-spacing: -0.8px;
        }

        p {
            font-size: 18px;
            line-height: 30px;
            text-align: left;
        }
    }
}
