.primary-btn {
  font-family: Spartan-semi-bold;
  font-size: 1em;
  background-color: transparent;
  padding: 24px 40px;
  letter-spacing: 2px;

  color: #111111;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &.dark {
    border: 1px solid #fff;
    color: #fff;
  }
  &.light {
    border: 1px solid #111111;
    color: #111111;
  }
}
