@font-face {
    font-family: "Overpass-light";
    src: url(../../fonts/Overpass/Overpass-Light.ttf);
}
@font-face {
    font-family: "Overpass-semi-bold";
    src: url(../../fonts/Overpass/Overpass-SemiBold.ttf);
}
@font-face {
    font-family: "Overpass";
    src: url(../../fonts/Overpass/Overpass-Regular.ttf);
}
@font-face {
    font-family: "Ubuntu";
    src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: "Ubuntu-medium";
    src: url(../../fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: "Ubuntu-bold";
    src: url(../../fonts/Ubuntu/Ubuntu-Bold.ttf);
}

