@font-face {
    font-family: "Spartan";
    src: url(../../fonts/Spartan/static/Spartan-Regular.ttf);
}
@font-face {
    font-family: "Spartan-light";
    src: url(../../fonts/Spartan/static/Spartan-Light.ttf);
}
@font-face {
    font-family: "Spartan-bold";
    src: url(../../fonts/Spartan/static/Spartan-Bold.ttf);
}
@font-face {
    font-family: "Spartan-semi-bold";
    src: url(../../fonts/Spartan/static/Spartan-SemiBold.ttf);
}
